# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\New folder\ARIQQQQQQQQQQQQ\E-Users-Pemuda Hijrah-\Backup\Dev\Tutorial Java\Chapter 2 Alur Perogram percabangan dan kondisi\41 - Looping Array dengan For Each\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
